.color {
  background-color: #f5f5f5;
  color: #797979;
}

.container {
  text-align: center;
  position: absolute;
  top: 0; 
  bottom: 0; 
  background-color: #f5f5f5;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc; 
  padding: 20px; 
  width: 80%; 
  border-radius: 15px;
  max-width: 620px; 
  height: auto; 
  overflow: auto; 
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 140px;
  right: 77px;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
  margin: 10px 0;
}

button {
  margin-top: 10px;
  color: #797979;
}

ul {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 20px;
  width: 90%;
}

li:hover {
  background-color: #f0f0f0; 
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  background-color: ListColor
}

li span {
  text-align: left;
}

li button {
  background-color: #ff6347; 
  color: #fff; 
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.delete-button {
  background-color: #FF7F4D; 
  color: #fff; 
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.cancel-button,
.mark-all-button {
  background-color: #9D71BC; 
  color: #f5f5f5; 
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.cancel-button:hover,
.mark-all-button:hover {
  background-color: #5E1B89; 
  color: #f5f5f5; 
}

.go-button,
.delete-all-button {
  background-color: #FF7F4D; 
  color: #f5f5f5; 
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
} 

.go-button:hover,
.delete-button:hover,
.delete-all-button:hover {
  background-color: #F4512C; 
  color: #f5f5f5;
}

p a {
  color: black; 
  text-decoration: none; 
}

p a:hover {
  color: rgb(0, 0, 0); 
}